
.cell-dropdown {
    position: absolute !important;
    transform-origin: left top;
    z-index: 99999;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item img {
    width: 1em !important;
    height: 1em !important;
    margin-right: 1em;
    vertical-align: middle !important;
    filter: brightness(0) saturate(100%);
    border: 1px solid #585858;
    padding: 2px;
    border-radius: 5px;
}
