.pattern-container {
        overflow: auto;
        /* margin-bottom: 500px; */
}

#pattern {
    width: max-content;
    height: max-content;
    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
}

.r {
    display: flex;
}

.cell {
    border: 1px solid #252525;
    width: 1em;
    height: 1em;
    cursor: default;
    text-align: center;
    line-height: 1em;
    font-size: small;
    background-repeat: unset;
}


.rownumber {
    width: 3em;
    text-align: center;
}

.colnumber {
    height: 3em;
    text-align: center;
}


.empty {
    cursor: unset;
    border: unset;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
