.pattern-container {
        
        /* margin-bottom: 500px; */
}

.minimap-row {
    display: flex;
}

.minimap-cell {
    width: 1pt;
    height: 1pt;
    cursor: crosshair;
}

.wrapper-minmap {
    position: relative;
    border: 1px solid #ccc;
    padding: 3px;
}

.canvas-minimap {
    position: relative;
    max-width: 100%;
}

.canvas-minimap-frame {
    position: absolute;
    max-width: 100%;
    left: 0;
    top: 0;
}
